### 다항차수 변환, 교호작용 변수 생성
- sklearn.preprocessing.PolynomialFeatures function을 활용한 다항차수 변환 및 교호작용 생성
- 다항 차수를 생성해서 비선형 관계를 표현하거나, 변수간 곱을 사용해서 교호작용 효과를 나타낼 수 있는 변수를 만듬

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
X = np.arange(6).reshape(3, 2)

# (1) sklearn.preprocessing.PolynomialFeatures 
# transform from (x1, x2) to (1, x1, x2, x1^2, x1*x2, x2^2)
poly = PolynomialFeatures(degree = 2)
poly.fit_transform(X)

# transform from (x1, x2, x3) to (1, x1, x2, x3, x1^2, x1*x2, x1*x3, x2^2, x2*x3, x3^2)
X = np.arange(9).reshape(3, 3)
poly.fit_transform(X)

# (2) 교호작용 변수만을 만들기 : interaction_only = True
# transform from (x1, x2, x3) to (1, x1, x2, x3, x1*x2, x1*x3, x2*x3)
poly_itrOnly = PolynomialFeatures(degree = 2, interaction_only = True)  
poly_itrOnly.fit_transform(X)

# transform from (x1, x2, x3) to (1, x1, x2, x3, x1*x2, x1*x3, x2*x3, x1*x2*x3)
poly_itrOnly = PolynomialFeatures(degree = 3, interaction_only = True)  
poly_itrOnly.fit_transform(X)

array([[  1.,   0.,   1.,   2.,   0.,   0.,   2.,   0.],
       [  1.,   3.,   4.,   5.,  12.,  15.,  20.,  60.],
       [  1.,   6.,   7.,   8.,  42.,  48.,  56., 336.]])